@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
}

.picture {
  width: 200px;
}

@media only screen and (max-width: 768px){
  .picture {
    width: 200px;
  }
}